#mood-form {
    margin: auto;
    width: 40%;
    text-align: center;
}

#mood-name {
    display: block;
    padding: 10px;
    border: none;
    border-radius: 3px;
    width: 100%;
}

button {
    padding: 10px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 3px;
    width: 100%;
}

button:hover {
    background-color: white;
    color: black;
}