#moodBox {
    width: 50%;
    margin: auto;
    margin-bottom: 100px;
}

#nameBoard {
    width: 50%;
    margin: auto;
}

#addBtnGroup {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

#errorText {
    margin: auto;
    text-align: center;
    height: 100px;
}

#input-container {
    display: flex;
    height: 100vh;
}


#root {
    background-image: url(../img/patrick-fore-HVFYFns30-I-unsplash.jpg);
    background-position: center;
    background-size: cover;
}

.addBtn {
    flex: 1;
    flex-grow: 1;
}

/* #shareBtn {
    margin-bottom: 100px;
} */

.image {
    padding: 10px 0;
}

.imageInputGrp {
    padding-bottom: 10px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}